In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("DeathRate.csv")

In [3]:
data.head()

   DeathRate  DocAvail  HosAvail  AnnualIncome  PopDensity
0        6.8       225     0.442         0.672         9.2
1        6.3       180     0.435         0.797        11.7
2        6.4       190     0.456         0.761        15.8
3        6.2       180     0.416         0.651         8.6
4        6.9       205     0.449           NaN         NaN

In [7]:
data.describe()

       DeathRate    DocAvail   HosAvail  AnnualIncome  PopDensity
count  54.000000   54.000000  51.000000     40.000000   41.000000
mean    6.587037  209.907407   0.453412      0.749175   11.534146
std     0.458894   30.265036   0.053129      0.070465    5.620837
min     5.700000  105.000000   0.340000      0.573000    2.800000
25%     6.225000  185.000000   0.420000      0.713750    8.600000
50%     6.650000  212.500000   0.449000      0.759000   10.500000
75%     6.900000  235.000000   0.485500      0.798750   13.600000
max     7.600000  263.000000   0.599000      0.880000   27.400000

In [11]:
data.isnull().sum()

DeathRate    0
DocAvail     0
HosAvail     3
dtype: int64

In [21]:
col_num=0
TotObjects = data.shape[0]
for x in data:
    nullCount = data[x].isnull().sum();
    nullPercent = nullCount*100 / (TotObjects)
    if nullCount > 0 and nullPercent > 20 :
        col_num=col_num+1
        data.drop(x, axis=1,inplace=True)

In [22]:
data

    DeathRate  DocAvail  HosAvail
0         6.8       225     0.442
1         6.3       180     0.435
2         6.4       190     0.456
3         6.2       180     0.416
4         6.9       205     0.449
5         6.4       225     0.431
6         6.3       185     0.487
7         6.8       235     0.469
8         6.9       235       NaN
9         6.7       210     0.480
10        6.9       245     0.516
11        6.9       245     0.493
12        6.3       185     0.374
13        6.1       185     0.424
14        6.2       180     0.441
15        6.8       220     0.503
16        6.5       194     0.503
17        7.6       225     0.425
18        6.3       210     0.371
19        7.1       240     0.504
20        6.8       225     0.400
21        7.3       263     0.482
22        6.4       210     0.475
23        6.8       235     0.428
24        7.2       230     0.559
25        6.4       190     0.441
26        6.6       220     0.492
27        6.8       210       NaN
28        6.1       180     0.415
29        6.5       235     0.492
30        6.4       185     0.484
31        6.0       175     0.387
32        6.0       192     0.436
33        7.3       263     0.482
34        6.1       180     0.340
35        6.7       240     0.516
36        6.4       210     0.475
37        5.8       160     0.412
38        6.9       230     0.411
39        7.0       245     0.407
40        7.3       228     0.445
41        5.9       155       NaN
42        6.2       200     0.449
43        6.8       235     0.546
44        7.0       235     0.480
45        5.9       105     0.359
46        6.1       180     0.528
47        5.7       185     0.352
48        7.1       245     0.414
49        5.8       180     0.425
50        7.4       240     0.599
51        6.8       225     0.482
52        6.8       215     0.457
53        7.0       230     0.435

In [23]:
data['HosAvail'].fillna(data['HosAvail'].mean(),inplace = True)

In [30]:
x = data.iloc[:,:-1].values

In [31]:
y = data.iloc[:,1].values

In [32]:
model = LinearRegression()

In [33]:
model.fit(x,y)

LinearRegression()